﻿@charset "utf-8";
/* CSS Document */
.stat {
	font-family: tahoma;
	font-size:11px;
	text-align: right;
	color: #FFF;
}

.company {
	font-family: tahoma;
	font-size:11px;
	text-align: center;
	color: #000000;
	background-color: #C1FE03 ;
	height: 16;
	padding:0 0 0 0;
	margin:  0 0 0 0; 
}


.logout{
	font-family: tahoma;
	font-size:11px;
	text-align: left;
	color: #FFF;
}

.nazar{
	font-family: tahoma;
	font-size:11px;
	color: #1836e6;
}

a{
	text-decoration: none;
}

.normal {
	font-family: tahoma;
	font-size:11px;
	width: 180px;	
	color: #000;
	padding-bottom: 5px;
	text-align: right;	
}

.normalinput {
	border-style: solid;
	border-width:  1px ;
	width: 180px;
	padding-bottom: 4px;
	text-align: left;
	background-color: #ECECEC;
}

.nameinput {
	border-style: solid;
	border-width:  1px ;
	width: 180px;
	padding-bottom: 4px;
	text-align: right;
}

.fileinput {
	border-style: none;
	width: 200px;
	padding-bottom: 4px;
	text-align: left;
}

.normalbutton {
	border-style: solid;
	border-width:  1px ;
}

.sign {
	font-family: tahoma;
	font-size:11px;
	width: 180px;	
	color: #000FFF;
	font-weight: bold;
	text-decoration: none;
}
.eror {
	font-family: tahoma;
	font-size:11px;
	width: 180px;	
	padding-bottom: 10px;
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
}
.success {
	font-family: tahoma;
	font-size:11px;
	width: 180px;	
	padding-bottom: 10px;
	color: #1CC900;
	font-weight: bold;
	text-decoration: none;
}


.dates {
	margin-right: 10px;
	font-family: tahoma;
	font-size:11px;
	padding-right: 5px;
	background-color: #e5e6e8 ;
	width: 147px;
	color: a9aaac;
}

.pname{
	margin-right: 10px;
	font-family: tahoma;
	font-size:11px;
	padding-right: 5px;
	padding-top: 5px;
	background-color: #e6e7e9 ;
	width: 147px;
}

.ename {
	margin-left: 10px;
	font-family: tahoma;
	font-size:11px;
	text-align: left;
	padding-left: 5px;
	padding-top: 5px;
	background-color: #e6e7e9 ;
	width: 147px;
}

.seconrow {
	margin-left: 10px;
	font-family: tahoma;
	font-size:11px;
	text-align: left;
	padding-left: 5px;
	background-color: #e6e7e9 ;
	width: 147px;
}


.linespace {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #e5e6e8 ;
	width: 304px;
	line-height: 7px;
}


.dates1 {
	margin-right: 10px;
	font-family: tahoma;
	font-size:11px;
	padding-right: 5px;
	background-color: #FFF ;
	width: 147px;
	color: a9aaac;
}

.pname1{
	margin-right: 10px;
	font-family: tahoma;
	font-size:11px;
	padding-right: 5px;
	padding-top: 5px;
	background-color: #FFF ;
	width: 147px;
}

.ename1 {
	margin-left: 10px;
	font-family: tahoma;
	font-size:11px;
	text-align: left;
	padding-left: 5px;
	padding-top: 5px;
	background-color: #FFF ;
	width: 147px;
}

.seconrow1 {
	margin-left: 10px;
	font-family: tahoma;
	font-size:11px;
	text-align: left;
	padding-left: 5px;
	background-color: #FFF ;
	width: 147px;
}


.linespace1 {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #FFF ;
	width: 304px;
	line-height: 7px;
}

textarea {
	background-color: #ECECEC;
	border-style : solid ;
	border-width : 1px;
}
